body {
    font-family: 'Madimi One', sans-serif;
    background-image: url('../images/sports3.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  #content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    background-color: #f6d173;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  h1 {
    font-family: 'Madimi One', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="email"],
  input[type="checkbox"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  

  #inputbox label {
    display: inline;
  }
  

  #inputcheckbox {
    margin-right: 5px;
  }
  @media (max-width: 899px) {
    #content {
      width: 70%;
      padding: 2em;
    }
    
    #input-submit {
    position: static;
  }
}

  @media (max-width: 599px) {
    #content {
      width: 90%;
      padding: 1em;
    }
    
    h1 {
      font-size: 1.5em;
    }
    
    #input-submit {
      width: 70%;
      margin: 20px auto;
    position: static;
    }
  }